<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghj.rest.dao.FriendshipPolicyMapper">
  <resultMap id="BaseResultMap" type="com.ghj.rest.model.FriendshipPolicy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="friendship_policy" jdbcType="VARCHAR" property="friendshipPolicy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, friendship_policy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from friendship_policy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from friendship_policy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ghj.rest.model.FriendshipPolicy">
    insert into friendship_policy (id, friendship_policy)
    values (#{id,jdbcType=INTEGER}, #{friendshipPolicy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ghj.rest.model.FriendshipPolicy">
    insert into friendship_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="friendshipPolicy != null">
        friendship_policy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="friendshipPolicy != null">
        #{friendshipPolicy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghj.rest.model.FriendshipPolicy">
    update friendship_policy
    <set>
      <if test="friendshipPolicy != null">
        friendship_policy = #{friendshipPolicy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghj.rest.model.FriendshipPolicy">
    update friendship_policy
    set friendship_policy = #{friendshipPolicy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>