<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghj.rest.dao.GroupToUserMapper">
  <resultMap id="BaseResultMap" type="com.ghj.rest.model.GroupToUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="group_user_nick" jdbcType="VARCHAR" property="groupUserNick" />
  </resultMap>
  <sql id="Base_Column_List">
    id, to_user_id, group_id, send_time, group_user_nick
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from group_to_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectGroupToUserByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from group_to_user
    where to_user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectGroupToUserByGroupId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from group_to_user
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from group_to_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ghj.rest.model.GroupToUser">
    insert into group_to_user (id, to_user_id, group_id, 
      send_time, group_user_nick)
    values (#{id,jdbcType=INTEGER}, #{toUserId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{groupUserNick,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ghj.rest.model.GroupToUser">
    insert into group_to_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="toUserId != null">
        to_user_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="groupUserNick != null">
        group_user_nick,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="toUserId != null">
        #{toUserId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupUserNick != null">
        #{groupUserNick,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ghj.rest.model.GroupToUser">
    update group_to_user
    <set>
      <if test="toUserId != null">
        to_user_id = #{toUserId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupUserNick != null">
        group_user_nick = #{groupUserNick,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ghj.rest.model.GroupToUser">
    update group_to_user
    set to_user_id = #{toUserId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      group_user_nick = #{groupUserNick,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>