<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghj.rest.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.ghj.rest.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="pass_word" jdbcType="VARCHAR" property="passWord"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="sex" jdbcType="BIT" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait"/>
        <result column="zodiac" jdbcType="CHAR" property="zodiac"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="constellation" jdbcType="CHAR" property="constellation"/>
        <result column="blood_type" jdbcType="VARCHAR" property="bloodType"/>
        <result column="school_tag" jdbcType="VARCHAR" property="schoolTag"/>
        <result column="vocation" jdbcType="VARCHAR" property="vocation"/>
        <result column="nation_id" jdbcType="INTEGER" property="nationId"/>
        <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
        <result column="city_id" jdbcType="INTEGER" property="cityId"/>
        <result column="user_state_id" jdbcType="INTEGER" property="userStateId"/>
        <result column="friendship_policy_id" jdbcType="INTEGER" property="friendshipPolicyId"/>
        <result column="friend_policy_question" jdbcType="VARCHAR" property="friendPolicyQuestion"/>
        <result column="friend_policy_answer" jdbcType="VARCHAR" property="friendPolicyAnswer"/>
        <result column="friend_policy_password" jdbcType="VARCHAR" property="friendPolicyPassword"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, login_name, nick_name, pass_word, signature, sex, birthday, telephone, `name`, 
    email, intro, head_portrait, zodiac, age, constellation, blood_type, school_tag, 
    vocation, nation_id, province_id, city_id, user_state_id, friendship_policy_id, friend_policy_question,
    friend_policy_answer, friend_policy_password
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectUserByNickName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where nick_name like concat(concat('%', #{nickName}), '%');
    </select>
    <select id="selectUserByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where login_name = #{loginName,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.ghj.rest.model.User">
    insert into user (id, login_name, nick_name, 
      pass_word, signature, sex, 
      birthday, telephone, `name`, 
      email, intro, head_portrait, 
      zodiac, age, constellation, 
      blood_type, school_tag, vocation, 
      nation_id, province_id, city_id,
      user_state_id, friendship_policy_id, friend_policy_question, 
      friend_policy_answer, friend_policy_password
      )
    values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, 
      #{birthday,jdbcType=TIMESTAMP}, #{telephone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{headPortrait,jdbcType=VARCHAR}, 
      #{zodiac,jdbcType=CHAR}, #{age,jdbcType=INTEGER}, #{constellation,jdbcType=CHAR}, 
      #{bloodType,jdbcType=VARCHAR}, #{schoolTag,jdbcType=VARCHAR}, #{vocation,jdbcType=VARCHAR}, 
      #{nationId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER},
      #{userStateId,jdbcType=INTEGER}, #{friendshipPolicyId,jdbcType=INTEGER}, #{friendPolicyQuestion,jdbcType=VARCHAR}, 
      #{friendPolicyAnswer,jdbcType=VARCHAR}, #{friendPolicyPassword,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ghj.rest.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="passWord != null">
                pass_word,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="headPortrait != null">
                head_portrait,
            </if>
            <if test="zodiac != null">
                zodiac,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="constellation != null">
                constellation,
            </if>
            <if test="bloodType != null">
                blood_type,
            </if>
            <if test="schoolTag != null">
                school_tag,
            </if>
            <if test="vocation != null">
                vocation,
            </if>
            <if test="nationId != null">
                nation_id,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="userStateId != null">
                user_state_id,
            </if>
            <if test="friendshipPolicyId != null">
                friendship_policy_id,
            </if>
            <if test="friendPolicyQuestion != null">
                friend_policy_question,
            </if>
            <if test="friendPolicyAnswer != null">
                friend_policy_answer,
            </if>
            <if test="friendPolicyPassword != null">
                friend_policy_password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="passWord != null">
                #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=BIT},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="headPortrait != null">
                #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="zodiac != null">
                #{zodiac,jdbcType=CHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="constellation != null">
                #{constellation,jdbcType=CHAR},
            </if>
            <if test="bloodType != null">
                #{bloodType,jdbcType=VARCHAR},
            </if>
            <if test="schoolTag != null">
                #{schoolTag,jdbcType=VARCHAR},
            </if>
            <if test="vocation != null">
                #{vocation,jdbcType=VARCHAR},
            </if>
            <if test="nationId != null">
                #{nationId,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="userStateId != null">
                #{userStateId,jdbcType=INTEGER},
            </if>
            <if test="friendshipPolicyId != null">
                #{friendshipPolicyId,jdbcType=INTEGER},
            </if>
            <if test="friendPolicyQuestion != null">
                #{friendPolicyQuestion,jdbcType=VARCHAR},
            </if>
            <if test="friendPolicyAnswer != null">
                #{friendPolicyAnswer,jdbcType=VARCHAR},
            </if>
            <if test="friendPolicyPassword != null">
                #{friendPolicyPassword,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ghj.rest.model.User">
        update user
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="passWord != null">
                pass_word = #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                signature = #{signature,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=BIT},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="headPortrait != null">
                head_portrait = #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="zodiac != null">
                zodiac = #{zodiac,jdbcType=CHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="constellation != null">
                constellation = #{constellation,jdbcType=CHAR},
            </if>
            <if test="bloodType != null">
                blood_type = #{bloodType,jdbcType=VARCHAR},
            </if>
            <if test="schoolTag != null">
                school_tag = #{schoolTag,jdbcType=VARCHAR},
            </if>
            <if test="vocation != null">
                vocation = #{vocation,jdbcType=VARCHAR},
            </if>
            <if test="nationId != null">
                nation_id = #{nationId,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="userStateId != null">
                user_state_id = #{userStateId,jdbcType=INTEGER},
            </if>
            <if test="friendshipPolicyId != null">
                friendship_policy_id = #{friendshipPolicyId,jdbcType=INTEGER},
            </if>
            <if test="friendPolicyQuestion != null">
                friend_policy_question = #{friendPolicyQuestion,jdbcType=VARCHAR},
            </if>
            <if test="friendPolicyAnswer != null">
                friend_policy_answer = #{friendPolicyAnswer,jdbcType=VARCHAR},
            </if>
            <if test="friendPolicyPassword != null">
                friend_policy_password = #{friendPolicyPassword,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ghj.rest.model.User">
    update user
    set login_name = #{loginName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      telephone = #{telephone,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      zodiac = #{zodiac,jdbcType=CHAR},
      age = #{age,jdbcType=INTEGER},
      constellation = #{constellation,jdbcType=CHAR},
      blood_type = #{bloodType,jdbcType=VARCHAR},
      school_tag = #{schoolTag,jdbcType=VARCHAR},
      vocation = #{vocation,jdbcType=VARCHAR},
      nation_id = #{nationId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      user_state_id = #{userStateId,jdbcType=INTEGER},
      friendship_policy_id = #{friendshipPolicyId,jdbcType=INTEGER},
      friend_policy_question = #{friendPolicyQuestion,jdbcType=VARCHAR},
      friend_policy_answer = #{friendPolicyAnswer,jdbcType=VARCHAR},
      friend_policy_password = #{friendPolicyPassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>